@using Frontend.Models;
@model Product;




<div class="modal fade" id="createProductModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="addProductModalLabel">Add New Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p class="text-muted">Add description of your new product.</p>

                <form>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <label class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="productName" placeholder="Product name">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Price</label>
                            <input type="number" class="form-control" id="productPrice" placeholder="Price">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-10">
                            <label class="form-label">Slug</label>
                            <input type="text" class="form-control" placeholder="product-name">
                        </div>
                        <div class="col-md-2 d-flex align-items-end">
                            <button type="button" class="btn btn-primary w-100">Generate</button>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label class="form-label">Discount Start</label>
                            <input type="date" id="discountStart" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Discount End</label>
                            <input type="date" id="discountEnd" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Discount %</label>
                            <input type="number" id="discountPercentage" class="form-control">
                        </div>
                    </div>

                    <button type="button" id="createProductBtn" class="btn btn-primary w-100">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<script>

    $(document).ready(function () {

        $('#openCreateModal').on('click', function () {
            $('#createProductModal').modal('show');
        });


        $(document).on('click', '#createProductBtn', function () {
            const name = $('#productName').val();
            const price = parseFloat($('#productPrice').val());
            const discountPercentage = parseFloat($('#discountPercentage').val());
            const discountStart = $('#discountStart').val() && !isNaN(new Date($('#discountStart').val())) ? new Date($('#discountStart').val()).toISOString() : null;
            const discountEnd = $('#discountEnd').val() && !isNaN(new Date($('#discountEnd').val())) ? new Date($('#discountEnd').val()).toISOString() : null;

            @* const discountEnd = new Date($('#discountEnd').val()).toISOString(); *@

            const product = {
                name: name,
                price: price,
                discountStartDate:discountStart,
                discountEndDate:discountEnd,
                discountPercentage:discountPercentage
            };

            const url = `${window.apiUrl}/products/upsert`;

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(product),
                success: function () {
                    alert('product added successfully');
                    $('#createProductModal').modal('hide');
                },
                error: function (err) {
                    console.error('Error loading cart', err);
                    alert('Failed');
                }
            });


        });




    })
</script>